.notfound-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.notfound-img {
  height: 350px;
  width: 400px;
}

.notfound-heading {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Roboto';
  font-weight: 500;
}

.notfound-para {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
}
