.jobs-container {
  background-color: #000000;
  /* height: 100vh; */
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.search-box-container-large-devices {
  display: none;
}

.search-box-container-small-devices {
  width: 100%;
  border: 1px solid #b6c5ff;
  height: 33px;
  border-radius: 5px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.search-input-box {
  background: transparent;
  border: none;
  width: 100%;
  color: #ffffff;
}

.search-button {
  background-color: #272727;
  height: 100%;
  width: 60px;
  border: none;
}

.search-icon {
  color: #ffffff;
  width: 40px;
}

.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  padding: 10px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 20px;
}

.profile-img {
  height: 40px;
  width: 40px;
}

.profile-name {
  font-size: 16px;
  font-family: 'Roboto';
  color: #6366f1;
}

.profile-bio {
  font-size: 11px;
  font-family: 'Roboto';
  color: #7e858e;
}

.profile-failure-view-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-retry-button {
  background-color: #4f46e5;
  color: #ffffff;
  font-size: 10px;
  font-family: 'Roboto';
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-radius: 3px;
  align-self: center;
  margin: 70px;
}

.seperator {
  background-color: #b6c5ff;
  margin-top: 20px;
  margin-bottom: 20px;
  /* justify-content: stretch; */
  width: 100%;
  /* align-self: stretch; */
}

.type-of-emp-sal-heading {
  font-size: 14px;
  font-family: 'Roboto';
  color: #ffffff;
}

.employment-sal-types-container {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}

.employment-type-container {
  display: flex;
  align-items: center;
  margin-top: 3px;
  margin-bottom: 3px;
}

.label {
  font-size: 12px;
  font-family: 'Roboto';
  color: #ffffff;
  margin-left: 5px;
}

.failure-no-jobs-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.failure-no-jobs-view-img {
  height: 180px;
  width: 260px;
}

.failure-no-jobs-view-heading {
  font-size: 12px;
  font-family: 'Roboto';
  color: #ffffff;
}

.failure-no-jobs-view-para {
  font-size: 12px;
  font-family: 'Roboto';
  color: #ffffff;
  text-align: center;
  max-width: 180px;
}

.failure-retry-btn {
  background-color: #4f46e5;
  color: #ffffff;
  font-size: 10px;
  font-family: 'Roboto';
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-radius: 3px;
}

.job-cards-container {
  padding-left: 0px;
}

@media screen and (min-width: 768px) {
  .jobs-container {
    display: flex;
    flex-direction: row;
    padding: 60px;
  }

  .profile-and-filters-container {
    order: -1;
    margin-right: 40px;
    width: 30vw;
  }

  .search-and-job-cards-container {
    width: 70vw;
  }

  .search-box-container-small-devices {
    display: none;
  }

  .search-box-container-large-devices {
    width: 450px;
    border: 1px solid #b6c5ff;
    height: 50px;
    border-radius: 5px;
    padding-left: 10px;
    display: flex;
    align-items: center;
  }

  .search-input-box {
    font-size: 20px;
  }

  .search-icon {
    width: 50px;
    height: 20px;
  }

  .profile-container {
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
  }

  .profile-img {
    height: 60px;
    width: 60px;
  }

  .profile-name {
    font-size: 24px;
  }

  .profile-bio {
    font-size: 16px;
  }

  .profile-retry-button {
    font-size: 14px;
    height: 50px;
    width: 120px;
  }

  .type-of-emp-sal-heading {
    font-size: 18px;
  }

  .employment-type-container {
    padding: 8px;
  }

  .employment-checkbox {
    height: 18px;
    width: 18px;
  }

  .label {
    font-size: 15px;
  }

  .salary-range-container {
    padding: 8px;
  }

  .salary-radio-icon {
    height: 18px;
    width: 18px;
  }

  .failure-no-jobs-view-img {
    height: 500px;
    width: 700px;
  }

  .failure-no-jobs-view-heading {
    font-size: 46px;
  }

  .failure-no-jobs-view-para {
    font-size: 24px;

    max-width: 580px;
  }

  .failure-retry-btn {
    font-size: 20px;
    height: 50px;
    width: 140px;
    border-radius: 3px;
  }
}
